language: node_js
node_js:
- 14.15.1
- 12.19.1
- 10.23.0
branches:
  only:
  - master
  - "/^v[0-9](\\.[0-9]+)(\\.[0-9]+)?$/"
script: npm run check
before_deploy: npm run build
deploy:
  provider: npm
  email: daniel.pazsoldan@gmail.com
  api_key:
    secure: B0fUWeVoijeoJHMBS9TTWmJyYO5wZ4IXltpmG2i0E9QHzVCbV99XJ2HupMSjp7yZwkProHMqA0LNbxTQpxgnMxBl7UCDCNscvafvqFjWIWZP1lvJLUcJxnoMxI9r8fCCBvMOZ/evePjsWuoWFDkjACx2JHj0OH5PiaOcV1M/dopRCLXpVSgmA1Ql3kB2cUKNaPEw4OSgrkVVSjX+hp37JCyUdyA0Xk4PskTP1OxeUKKwRKt04inpkoW3RsHxegRx/7xKAfJOrMinUho3twhxu7wAYpkVDpQ0opRhILm1ddqX1ii9fZh8ldZT9L8i9H4WZDHSogukKyJ3RtyDggh+4AQzWb1+dMZf4CmsMpkW+o/IBmoqH3wNzwkxPPcWTM3Rm9HkyrMwlZCuiuZT4PA/qyuN3xhVz+BLT9qMduQEn1q5uKwFEVjrcPFyZodqihWSdn3T5MHcQkNy9v9/YKyjt0ti4tD6s8F8gFSdGA0EDSM/pp6Fzw2sc4mHp++cI4lsuOsXqyMFWhQ8qta3bFjyxyiRXpjXl4H4L99lQ1szzwKXz/fdeWgBRGLlDczOnc7TYEfA9eSTS2T/HS4qFNVMc6R7rfoNdz7jFwHU2tkJmw9+m/YRTfxtvRcXtxVRI2EWsD52OCFTJyd3EGj7iAcrvE/Y0lcGqFdn2fLTB0q8IBU=
  on:
    tags: true
    repo: danpaz/bodybuilder
    branch: master
    node: 10.23.0
